<section id="contact" class="contact-area commonBackgnd" style="padding-top: 150px;">
    <div class="container-fluid">
        <div class="section-title">
            <h4 class="white_color">Get in Touch</h4>
            <h2 class="white_color">Let's <span class="white_color">Contact</span> Us</h2>
            <p class="white_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter your full name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter your emailId" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control" placeholder="Enter your mobile no">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" cols="30" rows="4" placeholder="Enter your message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contactus_section">
                    <img src="../../../../assets/img/contact-us/image.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>