<section id="about" class="about-area padding-top">
    <div class="container-fluid">
        <div class="section-title">
            <h1>About <span>Konnecteum</span></h1>
        </div>

        <div class="row align-items-center  padding-top">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <!-- <div class="section-title">
                        <h3><span>Konnecteum</span> is a new generation Freelancing platform developed in India.</h3>
                        <p>On Konnecteum, Gigpreneurs provide online services to the Employers who have relevant work.</p>
                        <p>Employers can get their work done from Gigpreneurs, by posting their requirements as 'Projects' on Konnecteum platform.</p>
                        <p>Gigpreneurs can bid for the Projects and can get an opportunity to work on multiple short term or long term Projects, from the comfort of their homes, at their convenience and on the technologies of their choice, without being
                            a fulltime onroll employee of any one organisation</p>
                        <p>Employers get the freedom to choose from global Talent with varying rates which is available on the Platform when the Freelancers sign up on Konnecteum.</p>
                        <p>Gigpreneurs get paid by Employers as and when the scheduled delivery is completed.</p>
                    </div> -->
                    <ul class="b">
                        <h4><span>Konnecteum</span> is a new generation Freelancing platform.</h4>
                        <br>
                        <li>On Konnecteum, Gigpreneurs provide online services to the Employers who have relevant work.</li>
                        <li>Employers can get their work done from Gigpreneurs, by posting their requirements as 'Projects' on Konnecteum platform.</li>
                        <li>Gigpreneurs can bid for the Projects and can get an opportunity to work on multiple short term or long term Projects, from the comfort of their homes, at their convenience and on the technologies of their choice, without being
                            a fulltime onroll employee of any one organisation.</li>
                        <li>Employers get the freedom to choose from global Talent with varying rates which is available on the Platform when the Freelancers sign up on Konnecteum.</li>
                        <li>Employers get the freedom to choose from global Talent with varying rates which is available on the Platform when the Freelancers sign up on Konnecteum.</li>
                        <li>Gigpreneurs get paid by Employers as and when the scheduled delivery is completed.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- <div class="about-video">
                    <img src="assets/img/about.jpg" alt="about">

                    <div >
                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i class="fas fa-play"></i></a>
                    </div>
                </div> -->
                <div class="video-btn">
                    <video loop muted autoplay poster="#" class="video-btn" width="620" height="640">
                        <!-- <source src="../../../../assets/video/01 Video 8 to 20 sec.mp4" type="video/mp4" > -->
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>