@font-face {
    font-family: Neo-Latina;
    src: url("/assets/fonts/Neo-Latina.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
