<section class="pricing-area commonBackgnd">
    <section class="subscribe-area ptb-100">
        <div class="container">
            <div class="category-details">
                <div class="section-title padding-top">
                    <h1 class="white_color">JOBS @ KRYPTOMINDS</h1>
                </div>
                <div class="row align-items-center ">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <ul class="b white_color">
                                <h4 class="white_color">As a company, we strive to attract, motivate and retain a high-performing, diverse workforce.</h4>
                                <br>
                                <li>We are always looking for people who want to make a difference with their work.</li>
                                <li>At Kryptominds, you will get to work with highly motivated, skilled and fun-loving people who will value and support you for your out of the box ideas for getting things done.</li>
                                <li>hare your CV at jobs@kryptominds.com and we will reach out to you.</li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="video-btn">
                            <img src="../../../../assets/img/contact-us/image.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>