<section id="howWorks" class="pt-20  pb-70 bg-F7F5F4">
    <div class="container-fluid py-3    ">
        <div class="section-title">
            <h1>How it works</h1>
        </div>

        <div class="row pb-4 padding-top">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 col-md-6">
                <div class="how-it-workinfo" id="hoitwk1">
                    <div class="howitwk-img">
                        <img src="../../../../assets/img/color-icon/Post-Project.png" alt="services-img" width="45" height="45">
                    </div>
                </div>
                <div class="p-1"></div>
                <h6 class="text-align colorhead commonfont">Post Project</h6>
                <div class="p-1"></div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="how-it-workinfo">
                    <div class="howitwk-img">
                        <img src="../../../../assets/img/color-icon/Recommendations.png" alt="services-img" width="45" height="45">
                    </div>
                </div>
                <div class="p-1"></div>
                <h6 class="text-align colorhead commonfont">Recommendations</h6>
                <div class="p-1"></div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="how-it-workinfo">
                    <div class="howitwk-img">
                        <img src="../../../../assets/img/color-icon/Live chat.png" alt="services-img" width="
                        45" height="45">
                    </div>
                </div>
                <div class="p-1"></div>
                <h6 class="text-align colorhead commonfont">Live Chat</h6>
                <div class="p-1"></div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="how-it-workinfo">
                    <div class="howitwk-img">
                        <img src="../../../../assets/img/color-icon/Review & Approve.png" alt="services-img" width="45" height="45">
                    </div>
                </div>
                <div class="p-1"></div>
                <h6 class="text-align colorhead commonfont">Review, Approve & Pay</h6>
                <div class="p-1"></div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="how-it-workinfo">
                    <div class="howitwk-img">
                        <img src="../../../../assets/img/color-icon/Review & Ratings.png" alt="services-img" width="45" height="45">
                    </div>
                </div>
                <div class="p-1"></div>
                <h6 class="text-align colorhead commonfont">Review & Ratings</h6>
                <div class="p-1"></div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="backgndimg">
        <div class="work-owl-carousel owl-carousel owl-theme">
            <div class="item" data="hoitwk1">
                <div class="row">
                    <div class="col-4 offset-3">
                        <div class="item-box-blog">
                            <video loop muted autoplay poster="#" class="video-backgroundHik">
                                <source src="../../../../assets/video/postproject.mp4" type="video/mp4" style="height: 300px;width: 600px;">
                            </video>
                        </div>
                    </div>
                    <div class="col-5  px-5">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="white_color mb-3">Post Project</h2>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ol class="white_color">
                                    <li> Tell us about your requirements.</li>
                                    <li> Specify the skills you need.</li>
                                    <li> Estimate your project budget.</li>
                                    <li> Decide your project duration.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-4 offset-3">
                        <div class="item-box-blog">
                            <video loop muted autoplay poster="#" class="video-backgroundHik">
                                <source src="../../../../assets/video/recommendations.mp4" type="video/mp4" style="height: 300px;width: 600px;">
                            </video>
                        </div>
                    </div>
                    <div class="col-5 px-5">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="white_color mb-3">Recommendations</h2>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ol class="white_color">
                                    <li> Get recommendations of the best matching talent from the pool of Gigpreneurs.</li>
                                    <li> Invite your favorite gigpreneurs if you wish.</li>
                                    <li> Hire the desired talent with ease.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-4 offset-3">
                        <div class="item-box-blog">
                            <video loop muted autoplay poster="#" class="video-backgroundHik">
                                <source src="../../../../assets/video/Chat.mp4" stytype="video/mp4" style="height: 300px;width: 600px;">
                            </video>
                        </div>
                    </div>
                    <div class="col-5  px-5">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="white_color mb-3">Live Chat</h2>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ol class="white_color">
                                    <li> Connect with Project teams via live chats and video calls.</li>
                                    <li> Establish better connect with your teams.</li>
                                    <li> Share Files/ Screen while live chat and calls.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-4 offset-3">
                        <div class="item-box-blog">
                            <video loop muted autoplay poster="#" class="video-backgroundHik">
                                <source src="../../../../assets/video/contract.mp4" type="video/mp4" style="height: 300px;width: 600px;">
                            </video>
                        </div>
                    </div>
                    <div class="col-5  px-5">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="white_color mb-3">Review, Approve & Pay</h2>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ol class="white_color">
                                    <li> Review the workdone by gigpreneur.</li>
                                    <li> Approve or request rework till you are satisfied.</li>
                                    <li> Upon your approval, the payment will be directly sent to Gigpreneur's bank account already registered on Konnecteum.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-4 offset-3">
                        <div class="item-box-blog">
                            <video loop muted autoplay poster="#" class="video-backgroundHik">
                                <source src="../../../../assets/video/Reviews.mp4" type="video/mp4" style="height: 300px;width: 600px;">
                            </video>
                        </div>
                    </div>
                    <div class="col-5  px-5">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="white_color mb-3">Review & Ratings</h2>
                            </div>
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ol class="white_color">
                                    <li> Enrich your Konnecteum profile by giving and receiving reviews and ratings.</li>
                                    <li> Improve your standing on the platform to attract good talent.</li>
                                    <li> Online reviews are the great way to find out the strength and skills of gigpreneur you want.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>