.welcome-area {
    width: 100%;
    min-height: 768px;
    max-height: 100%;
    background-image: linear-gradient(to right bottom, #212C41 0%, #155782, #0896D2);
}

toggle-button {
    margin: 0 auto;
}

.displaynone {
    display: none;
}

.commonClass {
    text-align: initial;
    padding: 0px 0px 12px 24px;
}