<!-- <div class="main-banner">
    <header>
        <div class="owl-carousel owl-homepage owl-theme">
            <div class="main-banner">
                <video loop muted autoplay poster="#" class="video-background">
                    <source src="../../../assets/video/promo-video.mp4" type="video/mp4">
                </video>
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container-fluid">
                            <div class="main-banner-text">
                                <h4>We Are Creative</h4>
                                <h1>The Best <span>Digital</span> Experience</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#welcome" class="btn btn-primary">Get Started</a>
                                <a href="#work" class="btn btn-primary view-work">View Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <video loop muted autoplay poster="#" class="video-background">
                    <source src="../../../assets/video/promo-video.mp4" type="video/mp4">
                </video>
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line"></div>
                            <h2>Teimagine Digital Experience with</h2>
                            <h1>Start-ups and solutions</h1>
                            <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <video loop muted autoplay poster="#" class="video-background">
                    <source src="../../../assets/video/promo-video.mp4" type="video/mp4">
                </video>
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line animated bounceInLeft"></div>
                            <h2>Reimagine Digital Experience with</h2>
                            <h1>Intelligent solutions</h1>
                            <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <video loop muted autoplay poster="#" class="video-background">
                    <source src="../../../assets/video/promo-video.mp4" type="video/mp4">
                </video>
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line animated bounceInLeft"></div>
                            <h2>Peimagine Digital Experience with</h2>
                            <h1>Intelligent Solutions</h1>
                            <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="main-banner-text">
                    <h4>We Are Creative</h4>
                    <h1>The Best <span>Digital</span> Experience</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#welcome" class="btn btn-primary">Get Started</a>
                    <a href="#work" class="btn btn-primary view-work">View Work</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="main-banner">
    <video loop muted autoplay poster="#" class="video-background">
        <source src="../../../assets/video/promo-video.mp4" type="video/mp4">
    </video>

    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="main-banner-text">
                    <h4>We Are Creative</h4>
                    <!-- <h1>The Best <span>Digital</span> Experience</h1> -->
                    <h1>
                        Have <span>talent?</span> Show it with us!
                    </h1>
                    <p>We bring to you '<span> KONNECTEUM </span>' - A Platform which connects Employers and Gigpreneurs to work on multiple short term and long term Projects which can be delivered online.
                    </p>
                    <a href="#welcome" class="btn btn-primary">Get Started</a>
                    <!-- <a href="#work" class="btn btn-primary view-work">View Work</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>
<app-work></app-work>
<app-how-we-work></app-how-we-work>
<app-services></app-services>
<app-pricing></app-pricing>
<!-- <app-contact></app-contact> -->