<section id="contact" class="contact-area commonBackgnd">
    <div class="container-fluid">
        <div class="row">
            <ng-template>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </ng-template>

            <footer class="footer">
                <div class="bottom_border">
                    <div class="row">
                        <div class=" col-sm-4 col-md  col-6 col" id="navbarSupportedContent">
                            <h5 class="headin5_amrc col_white_amrc pt2 text-font">Company</h5>
                            <!--headin5_amrc-->
                            <ul class="footer_ul_amrc navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                                <li class="nav-item"><a [routerLink]="['/careers']">Careers</a></li>
                                <li class="text-font"><a [routerLink]="['/blogs']">Blogs</a></li>
                                <li class="text-font"><a [routerLink]="['/contact-us']">Contact us</a></li>
                            </ul>
                        </div>

                        <div class=" col-sm-4 col-md  col-6 col">
                            <h5 class="headin5_amrc col_white_amrc pt2 text-font">Quick links</h5>
                            <!--headin5_amrc-->
                            <ul class="footer_ul_amrc">
                                <li class="text-font"><a>Help & support</a></li>
                                <li class="text-font"><a [routerLink]="['/privcay-policy']">Terms & conditions</a></li>
                                <li class="text-font"><a [routerLink]="['/privcay-policy']">Privacy policy</a></li>
                                <li class="text-font"><a [routerLink]="['/faq']">FAQ</a></li>
                            </ul>
                        </div>

                        <div class=" col-sm-4 col-md  col-6 col">
                            <h5 class="headin5_amrc col_white_amrc pt2 text-font">Resources</h5>
                            <!--headin5_amrc-->
                            <ul class="footer_ul_amrc">
                                <li class="text-font"><a>Customer support</a></li>
                                <li class="text-font"><a [routerLink]="['/privcay-policy']">Testimonials</a></li>
                            </ul>
                        </div>

                        <div class=" col-sm-4 col-md  col-6 col">
                            <h5 class="headin5_amrc col_white_amrc pt2 text-font">Our products</h5>
                            <!--headin5_amrc-->
                            <ul class="footer_ul_amrc">
                                <li class="text-font"><a>Koncalls</a></li>
                                <li class="text-font"><a>Konsize</a></li>
                                <li class="text-font"><a>Kryptominds</a></li>
                                <li class="text-font"><a>Konnecteum</a></li>
                            </ul>
                        </div>

                        <!-- <div class=" col-sm-4 col-md  col-12 col">
                            <h5 class="headin5_amrc col_white_amrc pt2 text-font cursorpointer" [routerLink]="['/contact-us']">Contact us</h5>
                            <ul class="footer_ul2_amrc">
                                <li class="text-font" style="cursor: pointer;">
                                    <a href="#2"> </a>
                                    <p>Support@konnecteum.com</p>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <ul class="social_footer_ul">
                        <li><a href="https://www.facebook.com/kryptominds/"><i class="fab fa-facebook-f" target="_blank"></i></a></li>
                        <li><a href="https://twitter.com/kryptomindshttps://kryptominds.com"><i class="fab fa-twitter" target="_blank"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/kryptominds/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
                        <li><a><i class="fab fa-instagram" target="_blank"></i></a></li>
                    </ul>
                </div>


                <div class="container">
                    <div class="p-1"></div>
                    <p class="text-center text-font">Copyright @ <a href="#">KYROS CORPORATE SERVICES PRIVATE LIMITED. All Rights Reserved.</a></p>
                </div>

            </footer>
        </div>
    </div>
</section>