<section class="why-we-different ptb-100 bg-F7F5F4">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Why We <span>Are Different</span></h2>
            <p>Whether you’re a small business owner,
                a startup, or a hiring manager from a global enterprise
                organization, we invite you to grow your business on Konnecteum.</p>
        </div>
       
        <div class="tabset why-we-different-tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="speed-flexibility" checked>
            <label for="tab1">Focused on your success</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="profeesional-work">
            <label for="tab2">Identity verification</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="experienced-staff">
            <label for="tab3">UT on blockchain</label>
            <!-- Tab 4 -->
            <input type="radio" name="tabset" id="tab4" aria-controls="custom-support">
            <label for="tab4">Payment protection</label>
            <!-- Tab 4 -->
            <input type="radio" name="tabset" id="tab5" aria-controls="chat-shedulding">
            <label for="tab5">Chat scheduling</label>

            <div class="tab-panels">
                <section id="speed-flexibility" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="../../../../assets/img/suces.jpg" alt="img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Focused on your success</h3>
                                <p>When you and your freelancer complete a project on Konnecteum, our team find a best way to grow more your business and succeed.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Business of all sizes can work </li>
                                    <li><i class="fas fa-check"></i>Great talent waits for you</li>
                                    <li><i class="fas fa-check"></i> Done quality work in less price</li>
                                    <li><i class="fas fa-check"></i> Best opportunity for growth</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="profeesional-work" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="../../../../assets/img/verify.jpg" alt="img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Identity verified user</h3>
                                <p>Identify of the Users on Konnecteum is verified before they can work on Projects for building trust.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Avoid frauds </li>
                                    <li><i class="fas fa-check"></i>Transparency of performance </li>
                                    <li><i class="fas fa-check"></i> Building a trust</li>
                                    <li><i class="fas fa-check"></i> Done your work from genuine and experienced gigpreneur</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="experienced-staff" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="../../../../assets/img/blockchain1.jpg" alt="img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Permissioned Blockchain and AI enabled</h3>
                                <p>Blockchain Technology provides security and immutability to User Timeline which shows all activities of the User from Onboarding to the latest activity with complete accuracy and transparency.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Securing user's workdone on platform</li>
                                    <li><i class="fas fa-check"></i>Ensuring integral traceability</li>
                                    <li><i class="fas fa-check"></i> Trust and transparency in user's operation</li>
                                    <li><i class="fas fa-check"></i>Immutable reviews and ratings</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="custom-support" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="../../../../assets/img/payment.png" alt="img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Payment protection</h3>
                                <p>Gigpreneurs start work only after Employers deposit money in Nodal account and Employers pay only for the work they approve. </p>
                                <ul>
                                    <li><i class="fas fa-check"></i> Pay to gigpreneur after your approval</li>
                                    <li><i class="fas fa-check"></i>  Pay to gigpreneur after your approval</li>
                                    <li><i class="fas fa-check"></i> Invoicing and time tracking</li>
                                    <li><i class="fas fa-check"></i>Avoid financial frauds </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="chat-shedulding" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="../../../../assets/img/chat.png" alt="img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Chat scheduling</h3>
                                <p>Employers and Gigpreneurs can live chat or video call, share files and track progress of the Project. </p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Connect with gigpreneur throught text, audio and video chat</li>
                                    <li><i class="fas fa-check"></i>Interviewing top gigpreneurs</li>
                                    <li><i class="fas fa-check"></i> Determine their communication skills</li>
                                    <li><i class="fas fa-check"></i>Discuss more detailed matters of the project</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>