<section id="pricing" class="pricing-area pt-100 pb-70 bg-F7F5F4">
    <div class="container-fluid">
        <div class="section-title">
            <h1>Our Products <span>Pricing</span></h1>
        </div>

        <section class="why-we-different pb-100 bg-F7F5F4">
            <div class="container-fluid">
                <div class="tabset why-we-different-tabset text-center">
                    <!-- Tab 1 -->
                    <input type="radio" name="tabset" id="tab1" aria-controls="employer-pricing" checked>
                    <label for="tab1">Employer</label>
                    <!-- Tab 2 -->
                    <input type="radio" name="tabset" id="tab2" aria-controls="freelancer-pricing">
                    <label for="tab2">Freelancer</label>
                    <div class="tab-panels">
                        <section id="employer-pricing" class="tab-panel">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="pricingTableBasic">
                                        <h3 class="title">Basic</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">0.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Price (INR) Monthly</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified work history and reviews</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Unlimited Proposals</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project Postings Unlimited</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project tracking</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Filtered searches</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Candidates Shortlist </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> invites to freelancers </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Analytical reports</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Project management support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Work protection</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Premium Customer support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Featured Projects</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Dedicated account managers to help you find and hire quality talent fast</li>

                                        </ul>
                                        <a href="#" class="btn btn-primary">Start free trial</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="pricingTableBusiness">
                                        <h3 class="title">Business</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">5000.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Price (INR) Monthly</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified work history and reviews</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Unlimited Proposals</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project Postings Unlimited</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project tracking</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Filtered searches</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Candidates Shortlist </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i>Featured Projects</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> invites to freelancers </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Analytical reports</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Project management support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Work protection</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Premium Customer support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Dedicated account managers to help you find and hire quality talent fast</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary displaynone">Buy Now</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                                    <div class="pricingTableEntprise">
                                        <h3 class="title">Entprise</h3>
                                        <div class="price-value">
                                            <!-- <span class="currency">$</span> -->
                                            <span class="amount" style="padding-top: 14px;">Contact us</span>
                                            <!-- <span class="month">/Per month</span> -->
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Price (INR) Monthly</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified work history and reviews</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Unlimited Proposals</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project Postings Unlimited</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project tracking</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Filtered searches</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Analytical reports</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Project management support</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Work protection</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Premium Customer support</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Featured Projects</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> invites to freelancers </li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Candidates Shortlist </li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Dedicated account managers to help you find and hire quality talent fast</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary displaynone">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="freelancer-pricing" class="tab-panel">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="pricingTablefree">
                                        <h3 class="title">Free</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">0.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">

                                            <li><i class="fas fa-check" style="color:#33cc00"></i> No hidden profile</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Skills</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Payment Protection</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified accounts</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Reports</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Audio , Video call</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Immutable Ratings and reviews stored on Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> User history timeline using Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> unlimited project bookmark</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> View competitor bids </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Size of shared files on Chat</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> No of proposal</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Buy Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Rollover Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Custom Cover Photo</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> High Value Project Bidding</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Priority Support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Setting to keep your earnings confidential</li>


                                        </ul>
                                        <a href="#" class="btn btn-primary">Start free trial</a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="pricingTablefeebasic">
                                        <h3 class="title">Basic</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">350.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified accounts</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> No hidden profile</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Skills</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Payment Protection</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Reports</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Audio , Video call</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Immutable Ratings and reviews stored on Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> User history timeline using Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> No of proposal</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Buy Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Rollover Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> View competitor bids </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> unlimited project bookmark</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Size of shared files on Chat</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i>Custom Cover Photo</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> High Value Project Bidding</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Priority Support</li>
                                            <li><i class="fas fa-check" style="color:#ff3333"></i> Setting to keep your earnings confidential</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary displaynone">Buy Now</a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                                    <div class="pricingTablecore">
                                        <h3 class="title">Core</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">999.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> No hidden profile</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Skills</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Payment Protection</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Custom Cover Photo</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> High Value Project Bidding</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified accounts</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Priority Support</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Reports</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Audio , Video call</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Immutable Ratings and reviews stored on Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Size of shared files on Chat</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Calendar integration</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Setting to keep your earnings confidential</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> No of proposal</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Buy Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Rollover Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> View competitor bids </li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> unlimited project bookmark</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> User history timeline using Blockchain</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary displaynone">Buy Now</a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                                    <div class="pricingTableadvanced">
                                        <h3 class="title">Advanced</h3>
                                        <div class="price-value">
                                            <span class="currency">$</span>
                                            <span class="amount">2499.00</span>
                                            <span class="month">/Per month</span>
                                        </div>
                                        <ul class="pricing-content commonClass">
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Rollover Proposals</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> No hidden profile</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> View competitor bids </li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Skills</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Payment Protection</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> unlimited project bookmark</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Custom Cover Photo</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> High Value Project Bidding</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Verified accounts</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Priority Support</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i>Reports</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Audio , Video call</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Immutable Ratings and reviews stored on Blockchain</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Size of shared files on Chat</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Calendar integration</li>
                                            <li><i class="fas fa-check" style="color:#33cc00"></i> Setting to keep your earnings confidential</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> No of proposal</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> Buy Proposals</li>
                                            <li><i class="fas fa-check" style="color:#ff9933"></i> User history timeline using Blockchain</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary displaynone">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
</section>