.toggle-button {
    margin: 0 auto;
}

.displaynone {
    display: none;
}

.commonClass {
    text-align: initial;
    padding: 0px 0px 12px 24px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
        list-style: none;
    }
}